# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Custom ignored files
.idea/
*.tar.gz
*.xml
*.ubyte
*.ubyte.gz
/ProbabilisticModelingProject-.iml



/edl_net_felix/plots/confusion_matrix.png
/EDL/240618_edl_net/data/MNIST/raw/t10k-images-idx3-ubyte
/edl_net_felix/data/MNIST/raw/t10k-images-idx3-ubyte
/EDL/240618_edl_net/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/edl_net_felix/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/EDL/240618_edl_net/data/MNIST/raw/t10k-labels-idx1-ubyte
/edl_net_felix/data/MNIST/raw/t10k-labels-idx1-ubyte
/EDL/240618_edl_net/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/edl_net_felix/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/edl_net_felix/plots/testing_rotation.png
/EDL/240618_edl_net/data/MNIST/raw/train-images-idx3-ubyte
/edl_net_felix/data/MNIST/raw/train-images-idx3-ubyte
/EDL/240618_edl_net/data/MNIST/raw/train-images-idx3-ubyte.gz
/edl_net_felix/data/MNIST/raw/train-images-idx3-ubyte.gz
/EDL/240618_edl_net/data/MNIST/raw/train-labels-idx1-ubyte
/edl_net_felix/data/MNIST/raw/train-labels-idx1-ubyte
/EDL/240618_edl_net/data/MNIST/raw/train-labels-idx1-ubyte.gz
/edl_net_felix/data/MNIST/raw/train-labels-idx1-ubyte.gz
/EDL/240618_edl_net/training.py
/edl_net_felix/plots/uncertainty_evidence_during_training.png
/EDL_MNIST/data/MNIST/raw/t10k-images-idx3-ubyte
/EDL_MNIST/plots/one.jpg
/edl_net_felix/plots/one.jpg
/EDL_MNIST/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/edl_net_felix/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/EDL_MNIST/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
/EDL_MNIST/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
/EDL_MNIST/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
/EDL_MNIST/data/MNIST/raw/t10k-labels-idx1-ubyte
/edl_net_felix/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
/EDL_MNIST/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
/EDL_MNIST/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
/EDL_MNIST/data/FashionMNIST/raw/train-images-idx3-ubyte
/EDL_MNIST/data/MNIST/raw/train-images-idx3-ubyte
/edl_net_felix/data/FashionMNIST/raw/train-images-idx3-ubyte
/EDL_MNIST/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
/EDL_MNIST/data/MNIST/raw/train-images-idx3-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
/EDL_MNIST/data/FashionMNIST/raw/train-labels-idx1-ubyte
/EDL_MNIST/data/MNIST/raw/train-labels-idx1-ubyte
/edl_net_felix/data/FashionMNIST/raw/train-labels-idx1-ubyte
/EDL_MNIST/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
/EDL_MNIST/data/MNIST/raw/train-labels-idx1-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
/EDL_MNIST/plots/yoda.jpg
/edl_net_felix/plots/yoda.jpg
/edl_net_felix/rotation_classification/rotating_image_2.png
/EDL_CIFAR/data/cifar-10-batches-py/batches.meta
/EDL_CIFAR/plots/confusion_matrix.png
/EDL_MNIST/plots/confusion_matrix.png
/EDL_CIFAR/data/cifar-10-batches-py/data_batch_1
/EDL_CIFAR/data/cifar-10-batches-py/data_batch_2
/EDL_CIFAR/data/cifar-10-batches-py/data_batch_3
/EDL_CIFAR/data/cifar-10-batches-py/data_batch_4
/EDL_CIFAR/data/cifar-10-batches-py/data_batch_5
/EDL_MNIST/model/edl_fashionmnist_step_10_25e.pth
/EDL_MNIST/model/edl_mnist.pth
/EDL_CIFAR/edl_MNIST_new.pth
/EDL_MNIST/model/edl_mnist_step_10_25e.pth
/EDL_MNIST/model/edl_mnist_step_10_50e.pth
/EDL_MNIST/model/edl_mnist_step_100_25e.pth
/edl_net_felix/plots/image.png
/EDL_MNIST/noise_classification/noisy_image_0.png
/edl_net_felix/noise_classification/noisy_image_0.png
/EDL_MNIST/noise_classification/noisy_image_1.png
/edl_net_felix/noise_classification/noisy_image_1.png
/EDL_MNIST/noise_classification/noisy_image_2.png
/edl_net_felix/noise_classification/noisy_image_2.png
/edl_net_felix/plots/questionmark.png
/EDL_CIFAR/data/cifar-10-batches-py/readme.html
/EDL_MNIST/rotation_classification/rotating_image_0.png
/edl_net_felix/rotation_classification/rotating_image_0.png
/EDL_MNIST/rotation_classification/rotating_image_1.png
/edl_net_felix/rotation_classification/rotating_image_1.png
/EDL_MNIST/rotation_classification/rotating_image_2.png
/edl_net_felix/plots/smile.png
/EDL_CIFAR/data/cifar-10-batches-py/test_batch
/EDL_MNIST/data/yoda.jpg
