# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Custom ignored files
.idea/
*.tar.gz
*.xml
*.ubyte
*.ubyte.gz
/ProbabilisticModelingProject-.iml



/edl_net_felix/plots/confusion_matrix.png
/EDL/240618_edl_net/data/MNIST/raw/t10k-images-idx3-ubyte
/edl_net_felix/data/MNIST/raw/t10k-images-idx3-ubyte
/EDL/240618_edl_net/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/edl_net_felix/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/EDL/240618_edl_net/data/MNIST/raw/t10k-labels-idx1-ubyte
/edl_net_felix/data/MNIST/raw/t10k-labels-idx1-ubyte
/EDL/240618_edl_net/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/edl_net_felix/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/edl_net_felix/plots/testing_rotation.png
/EDL/240618_edl_net/data/MNIST/raw/train-images-idx3-ubyte
/edl_net_felix/data/MNIST/raw/train-images-idx3-ubyte
/EDL/240618_edl_net/data/MNIST/raw/train-images-idx3-ubyte.gz
/edl_net_felix/data/MNIST/raw/train-images-idx3-ubyte.gz
/EDL/240618_edl_net/data/MNIST/raw/train-labels-idx1-ubyte
/edl_net_felix/data/MNIST/raw/train-labels-idx1-ubyte
/EDL/240618_edl_net/data/MNIST/raw/train-labels-idx1-ubyte.gz
/edl_net_felix/data/MNIST/raw/train-labels-idx1-ubyte.gz
/EDL/240618_edl_net/training.py
/edl_net_felix/plots/uncertainty_evidence_during_training.png
/EDL_MNIST/data/MNIST/raw/t10k-images-idx3-ubyte
/EDL_MNIST/plots/one.jpg
/edl_net_felix/plots/one.jpg
/EDL_MNIST/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/edl_net_felix/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/EDL_MNIST/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
/EDL_MNIST/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
/EDL_MNIST/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
/EDL_MNIST/data/MNIST/raw/t10k-labels-idx1-ubyte
/edl_net_felix/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
/EDL_MNIST/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
/EDL_MNIST/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
/EDL_MNIST/data/FashionMNIST/raw/train-images-idx3-ubyte
/EDL_MNIST/data/MNIST/raw/train-images-idx3-ubyte
/edl_net_felix/data/FashionMNIST/raw/train-images-idx3-ubyte
/EDL_MNIST/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
/EDL_MNIST/data/MNIST/raw/train-images-idx3-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
/EDL_MNIST/data/FashionMNIST/raw/train-labels-idx1-ubyte
/EDL_MNIST/data/MNIST/raw/train-labels-idx1-ubyte
/edl_net_felix/data/FashionMNIST/raw/train-labels-idx1-ubyte
/EDL_MNIST/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
/EDL_MNIST/data/MNIST/raw/train-labels-idx1-ubyte.gz
/edl_net_felix/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
/EDL_MNIST/plots/yoda.jpg
/edl_net_felix/plots/yoda.jpg
